<style>
    .sc3{
        display: flex;
        align-items: center;
        gap: 3em;
        height: 100vh;
    }
    .target{
        background-image: url(img/Sin\ título.jpg);
        background-repeat: no-repeat;
        width: 556px;
        height: 634px;
        border-radius: 15px;
    }
    .backg{
        background: linear-gradient( to top, #8a5fff, #5ffff200);
        width: 556px;
        height: 634px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15em; 
        color: white; 
       
    }
    .backg button{
        width: 210px;
        height: 68px;
        background: linear-gradient( to top,  #5B37C4,  #8a5fff);
        border-radius: 10px;
        border: solid 0px;
        color: white;
    }

    .backg h2{
            font-size: 40px;
        }

</style>

    <section class="sc3">

        <div class="target"><div class="backg"><h2>nombre de ficha</h2><button> <img src="" >¡VER MAS!</button></div></div>
        <div class="target"><div class="backg"><h2>nombre de ficha</h2><button> <img src="" >¡VER MAS!</button></div></div>
        <div class="target"><div class="backg"><h2>nombre de ficha</h2><button> <img src="" >¡VER MAS!</button></div></div>
        <!-- <div class="target"><div class="backg"><h2>nombre de ficha</h2><button> <img src="" >¡VER MAS!</button></div></div>
        <div class="target"><div class="backg"><h2>nombre de ficha</h2><button> <img src="" >¡VER MAS!</button></div></div>
        <div class="target"><div class="backg"><h2>nombre de ficha</h2><button> <img src="" >¡VER MAS!</button></div></div> -->

    </section>