<nav>
	<a href="/">
	<img class="Logo" src="src/assets/ProvisionalLogo.png" alt="Logo Zira">
	</a>
	<span>
		<h2>CDA - SENA CHIA</h2>
	</span>
	<div>
		<img src="src/assets/search.png" alt="Buscador">
		<img src="src/assets/menu.png" alt="Menú">
	</div>

</nav>


<style>

@font-face {
    font-family: 'Inter';
    src: url(src/assets/fonts/Inter-VariableFont_opsz,wght.ttf) format('truetype'); 
    font-weight: 100 900; 
    font-stretch: 50% 200%;
  }



nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding-top: 0.5em;

}

span{
  background-color: #9037ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60em;
  height: 5em;
  border-radius: 1em;
  margin-left: 3em;
}

div{
  display: flex;
  width: 10em;
  gap: 1em;
  margin-right: 1em;
}


img{
  width: 35%;	
  cursor: pointer;
}

.Logo{
  aspect-ratio: 1 / 1;
  width: 75px;
  height: 90px;
  margin-left: 2.5em;
  cursor: pointer;
}



</style>